* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Header styling */
.header { 
    background-color: #CC0000;
    padding: 25px;
    color: white;
}

.header > center > h1 {
    font-size: 4em;
    -webkit-text-stroke: 3px #3368B1;
    color: #FFCB06;
}

.header > center > h2 {
    font-size: 1.5em;
}

.navlinks {
    display: flex;
    justify-content: center;
}

div.navlink {
    font-size: 1.5em;
    margin: 10px 10px;
    width: 100px;
    background-color: white;
    border-radius: 0.5em;
    padding: 5px;
    color: black;
}

/* Home page styling */
.allpokemons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90vw;
    justify-content: center;
}

/* Home - Pokemoncard styling */
.pokemoncard {
    width: 250px;
    height: 300px;
    border: 2px solid black;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.pokemoncard > img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.pokemoncard > h1 {
    text-transform: capitalize;
    font-size: 2em;
    margin: 10px auto 10px;
}

.types {
    display: flex;
    justify-content: space-around;
    font-size: 1.25em;
    text-transform: capitalize;
}

.pokemonID > span {
    /* display: flex; */
    justify-content: flex-end;
    font-size: 2em;
    color: whitesmoke;
    margin-left: 10px;
}